body {
    background-color: black;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: cyan;
}
h2 {
    color:aliceblue;
}
p{
    color:dodgerblue
}
.projects{
    text-align: left;
    color: white;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
}