body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
h2 {
    color:rgb(4, 72, 131);
}
p{
    color:dodgerblue
}
.projects{
    text-align: left;
    color: rgb(214, 136, 240);
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(130, 204, 241); /* choose a color */
    display: block;
    margin: auto;
    }

    .about{
        display:flex;
        flex-wrap:wrap;
        margin-right: 100px;
        margin-left: 100px;
        justify-content: center;
        }
    
    .about img {
        width: 150px;
        height: 200px;
        border-radius: 25%;
        border: 2px solid rgb(126, 14, 201);
        }

    .about p {
        width:50%;
        text-align: center;
        margin: auto;
        line-height: 125%
    }